body {
background:#363B40;
}
@media only screen and (min-width: 800px) {
	.course-title:before {
	content:'Computer Science 355';
	}
}

#schedule iframe{
margin: 0 auto 0;
max-width: 960px;
width: 95%;
border: solid 0 #000;
display: block;
height:calc(50vh - 6rem);

}
#schedule h2{
font-family:Arial,sans-serif;
font-weight:bold;
font-size:100%;
margin: 20px auto 0;
max-width: 960px;
width: 95%;
color: #222;
background:#FFF;
padding: 5px 10px ;
border-radius: 5px 35px 0 0;
}
#schedule #content{
	margin-bottom:5px;
}
article,aside{
background: rgba(255,255,255,0.75);	
}


summary {
	display:block;
}
summary article{
	padding-top:0;

}
#home h3{
margin-top:20px;
}
#home .topic{
border: 1px solid #000;
padding:0 20px 0;
margin:20px 0;
}
#home li{
line-height: 25.1px;
min-height: 25.1px;
}
@media only screen and (min-width: 800px) {
	h2:target::before {
	  content: "";
	  display: block;
	  height: 95px; /* fixed header height*/
	  margin: -95px 0 0; /* negative fixed header height */
	}
}
